{% extends 'layout-login.html' %}
{% load crispy_forms_tags %}
{% block signin %}
<div class="container-fluid" style="background-color: bisque;">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-login rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="{% url 'inicio' %}">
                        <h3 class="text-primary"> <i class="bi bi-chat-square-heart"></i>Diário IFRN</h3>
                    </a>
                </div>
                <h6>Insira suas credenciais para entrar <i class="bi bi-hearts"></i></h6>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button type="submit" class="btn btn-success py-3 w-100 mt-4 mb-4">Entrar</button>
                </form>
                <!-- <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}