{% extends 'base.html' %}

{% block content %}
<div class="row g-4">
    <div class="col-12">  
        <div class="rounded h-100 p-4">
            <h2 class="mb-4">Procurar anúncio</h2>
            <div class="form">

                <form class="d-none d-md-flex col-8" method="get" action="{% url 'resbusca' %}">
                    <input class="form-control border-1" type="search" placeholder="Procurar" value="{{ request.GET.Nome }}"
                        name="busca" id="txt">
                    <button type="submit" class="btn btn-primary ms-2"><i class="fas fa-search"></i></button>
            
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}