{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">{{ anuncio.titulo }}</h2>
<div class="container py-2 px-5">

    <p> {{ anuncio.anuncio}}</p>

    <div class="pt-1 pb-3">
        <div class="d-flex align-items-center justify-content-between">
            <p><i class="bi bi-geo-alt pe-2"></i>{{anuncio.cidade}}</p>
            <p class="mt-3 fw-bold"><i class="bi bi-currency-dollar"></i>R$ {{ anuncio.valor }}</p>
        </div>
    </div>

    <div class="pt-5">
        <h4>Informações para contato</h4>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th><i class="bi bi-person-heart px-1"></i>Responsável</th>
                <td>{{anuncio.responsavel}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><i class="bi bi-phone pe-2"></i>Celular</th>
                <td>{{anuncio.celular}}</td>
              </tr>
              <tr>
                <th><i class="bi bi-geo-alt pe-2"></i>Cidade</th>
                <td> {{anuncio.cidade}}</td>
              </tr>
              <tr>
                <th><i class="bi bi-house-heart pe-2"></i></i>Endereço</th>
                <td>{{anuncio.endereco}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock %}