{% extends 'base.html' %}

{% block content %}
<div class="row g-4">
    <div class="col-sm-6 col-xl-4">
        <div class="bg-terciary rounded p-4 ">
            <div class="pt-1">
                <p class="h3 text-center border-bottom">Carro HB20 usado</p>
                <p class="p-2">HB20 modeo gx-89, 2 anos de uso, com todas as rodas intactas, bancos inteiros, 0 poeira,
                    1.245km rodados, tanque cheio de diesel</p>
                <div class="d-flex align-items-center justify-content-around">
                    <p class="mt-3 h4">R$105,000</p>
                    <button type="submit" class="btn btn-secondary">Saber mais</button>
                    <!-- <button type="submit" class="btn btn-secondary">Editar</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="bg-terciary rounded p-4 ">
            <div class="pt-1">
                <p class="h3 text-center border-bottom">Carro HB20 usado</p>
                <p class="p-2">HB20 modeo gx-89, 2 anos de uso, com todas as rodas intactas, bancos inteiros, 0 poeira,
                    1.245km rodados, tanque cheio de diesel</p>
                <div class="d-flex align-items-center justify-content-around">
                    <p class="mt-3 h4">R$105,000</p>
                    <button type="submit" class="btn btn-secondary">Saber mais</button>
                    <!-- <button type="submit" class="btn btn-secondary">Editar</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="bg-terciary rounded p-4 ">
            <div class="pt-1">
                <p class="h3 text-center border-bottom">Carro HB20 usado</p>
                <p class="p-2">HB20 modeo gx-89, 2 anos de uso, com todas as rodas intactas, bancos inteiros, 0 poeira,
                    1.245km rodados, tanque cheio de diesel</p>
                <div class="d-flex align-items-center justify-content-around">
                    <p class="mt-3 h4">R$105,000</p>
                    <button type="submit" class="btn btn-secondary">Saber mais</button>
                    <!-- <button type="submit" class="btn btn-secondary">Editar</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}