{% extends 'base.html' %}

{% block content %}
<div class="row g-4">
    <div class="col-12">
        <div class="rounded h-100 p-4">
            <h2 class="mb-4">Lista de classificados</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Responsável</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anuncio in lista %}
                        <tr>
                            <th scope="row">{{ anuncio.id}}</th>
                            <td>{{ anuncio.titulo }}</td>
                            <td>{{ anuncio.responsavel }}</td>
                            <td>{{ anuncio.valor }}</td>
                            <td>{{ anuncio.cidade }}</td>
                            <td>{{ anuncio.categoria }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}