{% extends 'layout-login.html' %}

{% block signin %}
<div class="container-fluid" style="background-color: bisque;">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-login rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary">Diário IFRN</h3>
                    </a>
                    <h3>Login</h3>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                    <label for="floatingPassword">Senha</label>
                </div>
                <button type="submit" class="btn btn-success py-3 w-100 mb-4">Entrar</button>
                <!-- <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}