{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <h1>Sobre o sistema web</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi fuga quae odio quia enim impedit a eligendi consequatur exercitationem ducimus vel, distinctio quas temporibus? Consequatur, velit nesciunt. Voluptas, sit fuga.</p>

    <p>Desenvolvedoras: Ariadny, Eloisa e Natália</p>

    <div class="link">
        <i class="bi bi-github"></i>
        <a href="https://github.com/nataliaalvs/classificados.git">Repositório GitHub</a>
    </div>
</div>
{% endblock %}