{% extends 'base.html' %}

{% block content %}
    <style>
        a.repo:hover {
            color:#eb0258;
        }
    </style>

<div class="container-fluid pt-4 px-4">
    <h1>Sobre o sistema web</h1>

    <p class="pt-2">O diário IFRN é um projeto de conclusão para a disciplina de Programação Web, desenvolvido pela turma de Informática 4º ano 1M. Ele consiste em um site que tem como objetivo adicionar itens (classificados) que possam estar a venda ou para alugar. </p>

    <p>Responsáveis: <a class="repo" href="https://github.com/ariadnyD" target="_blank">Ariadny Francisca Dantas Santos</a>, <a class="repo" href="https://github.com/EL0ISA" target="_blank">Maria Eloisa da Silva Santos</a> e <a class="repo" href="https://github.com/nataliaalvs" target="_blank">Natália Alves Reges</a></p>

    <div class="pt-5">
        <i class="bi bi-github"></i>
        <a class="repo fw-bold" href="https://github.com/nataliaalvs/classificados.git" target="_blank">Repositório GitHub</a>
    </div>

</div>
{% endblock %} target="_blank"